
/* Dark-mode props*/
.dark-mode{
  background-color: rgb(51, 28, 51);
}
.black-card{
  background-color: rgb(51, 28, 51) ;
  color: #FAFE9E;
}

button:focus{
  outline: 0 !important;
}
.btn-change-theme{
  border:none;
  border-radius: 10px;
  padding: 3px;
  background:none;
   
}
.btn-change-theme:hover{
  box-shadow: 1px 1px 15px #000000;
  background-color: #f9fe9ea4;
  border:none;
}
.btn-change-theme img{
  display: block;
  width: 30px;
  
}
/* Dark-mode prosp end */

p{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Header*/
header{
  position: fixed; 
  width: 100%;
  height: 100px;
  top: 0;
  transition: 0.6s;
  z-index: 10;
}

header.sticky{
  background: #881744;
}

header a img{
  transition: 0.6s;
}

.header_menu {
  text-align: right;
}

.header_menu ul li{
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
}

.header_menu ul li a{
  font-family: 'Fjalla One', sans-serif;
  color: #FAFE9E;
  font-size: 20px;
  letter-spacing: .1em;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

.header_menu ul li a:hover{
  color: black;
}
/* Fim Header */


/* Introdução */

.introducao{
  background: url("../img/bg-header.jpg") no-repeat center;
  width: 100%;
  height: 560px;
  background-size:cover;
  text-align: center;
}

.titulo-interno{
  margin-top:200px;
  font-family:'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 35px;
  letter-spacing: .1em;
  color: #FAFE9E;
}

.titulo-interno:nth-child(2){
  margin-top: 30px;
}

.quote p{
  max-width: 320px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 20px;
  color:#FAFE9E;
}

.quote p::before, .quote p::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #FAFE9E;
  margin:14px auto 10px auto;
}

.quote cite{
  font-family:'Fjalla One', sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .1em;
  color: #FAFE9E;
  text-transform: uppercase;
  font-style: normal;
}
/* Introdução Fim*/

/* Adega*/
.adega-area{
  background:#4e001f;
  height:550px;
  margin-top: 60px;
}

.adega-slide{
  padding: 20px;
}

.titulo-inter{
  font-family:'Fjalla One', sans-serif;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: .1em;
  color: #FAFE9E;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
}

.titulo-inter::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #FAFE9E;
  margin: 0 auto;
  margin-top: 15px;

}

.prod-tittle{
  font-family:'Fjalla One', sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .1em;
  color: #FAFE9E;
  text-transform: uppercase;
}
.prod-tittle::after{
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #FAFE9E;
  margin-top:5px ;
}

.prod-details{
  margin-top: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 20px;
  color:#FAFE9E;
}

.vin-bottle{
  display: block;
  position: absolute;
  right: 30px;
 
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  margin-bottom: -250px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #FAFE9E;
}
/* Adega Fim */

/* call e Botão*/
.call{
  padding: 40px;
  text-align: center;
}

.btn-vin{
  border:5px solid #000000;
  padding: 10px 30px;
  font-family:'Fjalla One', sans-serif ;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #000000;
  text-decoration: none;
}

.btn-vin:hover{
  background:#881744;
  border: none;
  color: #FAFE9E;
  box-shadow: 1px 1px 15px #000000;
  transition: 0.6s ease;
  text-decoration: none;
}
/* call e Botão Fim*/

/* footer */

.quebra{
  width: 100%;
  height: 280px;
  text-align: center;
  background:url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  
}

.quebra blockquote{
  margin-top: -20px;
}

.footer{
  width: 100%;
  height:230px;
  background-color:black;
  padding: 20px;
}

.infos{
  margin-top:20px;
  color:#FAFE9E;
}
.infos li p{
  line-height: 25px;
}

.social-media ul{
  margin-top:25px;
}

.social-media ul li{
  display: inline-block;
}
.social-media ul li a{
  border: 3px solid #881744;
  display: block;
  padding: 10px; 
  margin-right: 20px;
  text-decoration: none;
  transition: all .5s ease;
}

.social-media ul li a:hover{
  border: 3px solid #FAFE9E;
}

.social-media img{
   height: 32px;
}
/* Footer Fim */


.copy{
  width: 100%;
  height: 10px;
  background:#881744;
  padding: 25px;
}

.copy p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  letter-spacing: .1em;
  color:#FAFE9E;
  margin-left: 30px;
}

